<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Result</title>
</head>
<body>
<div align="center">
    <h2>Search Result</h2>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <div th:each="customer : ${result}">
            <tr>
                <td th:text="${customer.getId()}"></td>
                <td th:text="${customer.getName()}"></td>
                <td th:text="${customer.getEmail()}"></td>
                <td th:text="${customer.getAddress()}"></td>
                <td>
                    <a th:href="@{/customers/{id}/edit(id=${customer.getId()})}">Edit</a>

                    <form th:method="DELETE" th:action="@{/customers/{id}(id=${customer.getId()})}">
                        <input type="submit" value="Delete">
                    </form>
                </td>
            </tr>
        </div>
    </table>
</div>
</body>
</html>