<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Manager</title>
</head>
<body>
<h1>Register</h1>

<form th:method="POST" th:action="@{/register}" th:object="${form}">
    <label for="username">Username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('username')}"
         th:errors="*{username}">UserName error</div><br/>

    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('password')}"
         th:errors="*{password}">Name error</div><br/>

    <label for="confirm">Confirm password: </label>
    <input type="password" id="confirm"/><br/>

    <label for="fullname">Full name: </label>
    <input type="text" th:field="*{fullname}" id="fullname"/>
    <div style="color:darkred" th:if="${#fields.hasErrors('fullname')}"
         th:errors="*{fullname}">Name error</div><br/>

    <input type="submit" value="Register"/>
</form>
</body>
</html>